# dependencies
node_modules
package-lock.json
yarn.lock

# testing
coverage

# docs
docs

# hardhat
artifacts
cache

# types
types
typechain

# openzeppelin
.openzeppelin

# circuits
circuits

# production
dist
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
