# dependencies
node_modules
package-lock.json
yarn.lock
.yarn

jest.config.ts
# testing
coverage
coverage.json

# hardhat
cache

# types
types
packages/semaphore/typechain/**/*

# circuits
circuits

# fixtures
witness_calculator.js
hardhatAccounts.js

# production
dist
build
docs

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
