[submodule "packages/cli-template-contracts-foundry/lib/forge-std"]
	path = packages/cli-template-contracts-foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/cli-template-contracts-foundry/lib/semaphore"]
	path = packages/cli-template-contracts-foundry/lib/semaphore
	url = https://github.com/semaphore-protocol/semaphore
