[submodule "packages/cli-template-contracts-foundry/lib/forge-std"]
	path = packages/cli-template-contracts-foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/cli-template-contracts-foundry/lib/semaphore"]
	path = packages/cli-template-contracts-foundry/lib/semaphore
	url = https://github.com/semaphore-protocol/semaphore
[submodule "packages/cli-template-contracts-foundry/lib/zk-kit.solidity"]
	path = packages/cli-template-contracts-foundry/lib/zk-kit.solidity
	url = https://github.com/privacy-scaling-explorations/zk-kit.solidity
[submodule "packages/cli-template-contracts-foundry/lib/poseidon-solidity"]
	path = packages/cli-template-contracts-foundry/lib/poseidon-solidity
	url = https://github.com/chancehudson/poseidon-solidity
[submodule "packages/cli-template-contracts-foundry/lib/openzeppelin-contracts"]
	path = packages/cli-template-contracts-foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
