# dependencies
node_modules
package-lock.json
yarn.lock

# testing
coverage
coverage.json

# hardhat
cache

# types
types

# openzeppelin
.openzeppelin

# circuits
circuits

# contracts
contracts/verifiers

# docusaurus
.docusaurus

# production
dist
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
