.outlineLinkButton {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    padding: 4px 12px;
    border-radius: 4px;

    &:hover {
        text-decoration: none;
    }
}

html[data-theme="light"] {
    .outlineLinkButton {
        color: var(--custom-blue-3);
        border: 2px solid var(--custom-blue-3);

        &:hover {
            color: var(--custom-blue-3);
        }

        svg > path {
            fill: var(--custom-blue-3);
        }
    }
}

html[data-theme="dark"] {
    .outlineLinkButton {
        color: var(--custom-blue-2);
        border: 2px solid var(--custom-blue-2);

        &:hover {
            color: var(--custom-blue-2);
        }

        svg > path {
            fill: var(--custom-blue-2);
        }
    }
}

.buttonIcon {
    padding-right: 8px;
}
