:root {
    --slate100: #f1f5f9;
    --slate200: #e2e8f0;
    --slate300: #cbd5e1;
    --slate400: #718096;
    --slate500: #64748b;
    --slate700: #334155;
    --blue100: #dde6fc;
    --blue200: #c3d4fa;
    --blue300: #9abaf6;
    --blue400: #6a95f0;
    --blue500: #4771ea;
    --blue600: #3555df;
    --blue700: #2940cc;
    --blue800: #2735a6;
    --blue900: #253183;
    --blue950: #1b2050;
    --darkBlueBg: #00020d;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:"Outfit", sans-serif;;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background-color: var(--darkBlueBg);
    color: var(--slate200);
}

p {
    line-height: 1.5rem;
    font-weight: 300;
    overflow-wrap: break-word;
    font-size: 1rem;
}

b {
    font-weight: 600;
}

.key-wrapper {
    padding-bottom: 1.5rem;
    padding-left: 0.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 40vw;
    min-width: 35rem;

    margin: auto;
    padding: 1rem;

    min-height: calc(100vh - 3.5rem);
}

.container #body {
    margin-top: 3rem;
}

.text-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

ol {
    padding: 1rem;
}

li {
    margin-top: 1rem;
}

h2 {
    font-size: 2.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
    line-height: 1.2;
}

h3 {
    font-size: 1.15rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.divider {
    opacity: 0.6;
    border: 0;
    border-style: solid;
    border-bottom-width: 1px;
    width: 100%;
    border-color: var(--slate400);
    margin: 2rem 0;
}

.stepper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

a {
    color: var(--blue400);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: var(--blue400);
}

.button {
    border-radius: 100px;
    font-weight: 400;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 200ms;
    padding-left: 18px!important;
    padding-right: 18px!important;
    height: 2.5rem;
    min-width: 2.5rem;
    font-size: 1rem;
    -webkit-padding-start: 1rem;
    padding-inline-start: 1rem;
    -webkit-padding-end: 1rem;
    padding-inline-end: 1rem;
    background: var(--blue500);
    color: white;
    background-image: linear-gradient(to right, var(--blue500), var(--blue800));
    transition-timing-function: linear;
    width: 100%;
    border: none;
}

.button:hover {
    background-color: var(--blue800);
    background-image: none;
    cursor: pointer;
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.button:disabled:hover {
    background-color: var(--blue800);
    background-image: none;
}

.button-stepper {
    cursor: pointer;
    color: var(--blue500);
    font-size: 1.1rem;
    border: none;
    background: none;
    min-width: 3rem;
    margin: 0 1rem;
    display: flex;
    justify-content: center;
}

.button-link {
    cursor: pointer;
    color: var(--slate300);
    font-size: 1.1rem;
    border: none;
    background: none;
}

.icon-next {
    display: inline-flex;
    align-self: flex-start;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-margin-start: 0.5rem;
    margin-inline-start: 0.5rem;
}

.icon-next svg {
    width: 1em;
    height: 1em;
    display: inline-block;
    line-height: 1em;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: currentColor;
    vertical-align:super
}

.box {
    padding: 0.7rem 0;
    border-bottom: 1px solid white;
}

.box-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0.5rem 0;
    font-size: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

.header-left {
    font-size: 1.125rem;
    font-weight: 500;
    text-decoration: none;
}

.header-right {
    display: flex;
    gap: 1.5rem;
}

.footer {
    background-color: var(--darkBlueBg);
    padding: 1rem 0;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.divider-footer {
    height: 1px;
    background: var(--slate500);
}

.loader {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border-top: 2px solid var(--slate100);
    border-right: 2px solid transparent;
    animation: spin 1s linear infinite;
    z-index: 20;
    margin-left: 1rem;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.feedback-wrapper {
    max-height: 50vh;
    overflow-y: scroll;
}