:root {
    --slate100: #f1f5f9;
    --slate200: #e2e8f0;
    --slate300: #cbd5e1;
    --slate400: #94a3b8;
    --slate500: #64748b;
    --slate700: #334155;
    --blue200: #bfdbfe;
    --blue500: #3b82f6;
    --blue600: #2563eb;
    --blue700: #1d4ed8;
    --blue800: #1e40af;
    --blue900: #1e3a8a;
    --darkBlueBg: #00020d;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background-color: var(--darkBlueBg);
    color: var(--slate200);
}

p {
    line-height: 1.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 32rem;

    margin: auto;
    padding: 1rem;

    min-height: calc(100vh - 3.5rem);
}

.container #body {
    margin-top: 3rem;
}

.text-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

ol {
    padding: 1rem;
}

li {
    margin-top: 1rem;
}

h2 {
    font-size: 2.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.125rem;
    font-weight: 500;
}

.divider {
    height: 1px;
    background: var(--slate500);
    margin: 2rem 0;
}

.stepper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

a {
    color: var(--blue500);
}

.button {
    background-color: var(--blue800);
    width: 100%;
    padding: 0.8rem 1rem;
    border: 1px;
    border-radius: 100px;
    cursor: pointer;
    color: var(--slate100);
    font-size: 1.125rem;
    font-weight: 500;
    transition: all 200ms linear;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    height: 3rem;
    align-items: center;
}

.button:hover {
    background-color: var(--blue900);
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.button:disabled:hover {
    background-color: var(--blue800);
}

.button-stepper {
    cursor: pointer;
    color: var(--blue600);
    font-size: 1.1rem;
    border: none;
    background: none;
}

.button-link {
    cursor: pointer;
    color: var(--slate300);
    font-size: 1.1rem;
    border: none;
    background: none;
}

.box {
    padding: 0.8rem;
    border-style: solid;
    border-width: 1px;
    border-color: var(--slate500);
    border-radius: 4px;
}

.box-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

.header-left {
    font-size: 1.125rem;
    font-weight: 500;
    text-decoration: none;
}

.header-right {
    display: flex;
    gap: 1.5rem;
}

.footer {
    background-color: var(--darkBlueBg);
    padding: 1rem 0;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.divider-footer {
    height: 1px;
    background: var(--slate500);
}

.loader {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border-top: 2px solid var(--slate100);
    border-right: 2px solid transparent;
    animation: spin 1s linear infinite;
    z-index: 20;
    margin-left: 1rem;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
