name: Auto Assign

on:
    pull_request:
        types: [opened]

jobs:
    run:
        runs-on: ubuntu-latest
        steps:
            - uses: wow-actions/auto-assign@v3
              with:
                  GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
                  reviewers: org/core-devs
