name: docs

on:
    push:
        branches: [main]
        paths:
            [
                "apps/docs/**",
                "packages/data/**",
                "packages/group/**",
                "packages/identity/**",
                "packages/proof/**",
                "packages/utils/**"
            ]

jobs:
    gh-pages:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v5

            - name: Install Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: yarn

            - name: Install dependencies
              run: yarn

            - name: Build libraries
              run: yarn build:libraries

            - name: Generate doc website
              run: yarn docs

            - name: Publish on Github Pages
              uses: crazy-max/ghaction-github-pages@v2.5.0
              with:
                  build_dir: docs
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
